<h4>Advanced Search</h4>
<form #f="ngForm">

  <div class="form-group">
    <label for="title">Title:</label>
    <input id="title" placeholder="Title" type="text" name="title" ngModel />
  </div>
  
  <div class="form-group">
    <label for="title">Author First Name:</label>
    <input id="title" placeholder="First Name" type="text" name="firstName" ngModel />
  </div>
  
  <div class="form-group">
    <label for="title">Author Last Name:</label>
    <input id="title" placeholder="Last Name" type="text" name="lastName" ngModel />
  </div>
  
  <div class="form-group">
    <label for="title">Description:</label>
    <input id="title" placeholder="Description" type="text" name="description" ngModel />
  </div>
  
  <div class="form-group">
    <label for="title">Published Date:</label>
    <input id="title" type="date" name="date" ngModel />
  </div>  
  
  <div class="form-group">
    <label for="price">List Price:</label>
    <input id="price" placeholder="List Price" type="number" name="price" ngModel />
  </div>
  
  <div class="form-group">
    <button type="submit" class="btn">Add Book</button>
  </div>
</form>

