<figure class="figure">
  <img src="http://placehold.it/256x384" class="figure-img img-fluid-rounded">
  <figcaption class="figure-caption">
    <h4>{{product?.title}}</h4>
    <h5>{{product?.listPrice | currency}}</h5>
    <h5>{{product?.author.firstName}} {{product?.author.lastName}}</h5>
    <p>{{product?.description}}</p>
    <!--<h5>Categories: 
      <ul>
        <li *ng For="let category of product.categories">{{category}}</li>
      </ul>
    </h5>-->
    <form #productPurchaseForm="ngForm" 
      (ngSubmit)="onSubmit()">
      <input type="submit" 
        class="btn btn-success" 
        value="Purchase Book"
        [disabled]="isDisabled()"/>
    </form>
  </figcaption>
</figure>